@import "variables";

//Reseting
// Box sizing rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove default margin
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

// Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html {
  width: 100vw;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body {
  // height: 100%;
  font-family: var(--ff-body);
  position: relative;
}

// Set core body defaults
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--clr-neutral-400);
  &.non-scrollable {
    height: 100vh;
    overflow-y: hidden;
  }
}

// A elements that don't have a class get default styles
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

// Make images easier to work with
img,
picture,
svg {
  display: block;
}

// Remove all animations, transitions and smooth scroll for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//Styles
.container {
  width: clamp(300px, 100%, 1440px);
  margin-inline: auto;
}

main {
  margin-top: 170px;
}

header {
  @include flex(space-between, center, nowrap, column);
  width: 100vw;
  overflow-y: hidden;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  .header-main-wrapper {
    @include flex();
    width: 100%;
    padding: 20px 80px;
    background: var(--clr-neutral-900);
    border-bottom: 5px solid var(--clr-primary-700);
  }
  .header-main {
    @include flex(space-between, center);
    width: clamp(300px, 100%, 1440px);
  }
  .hamburger {
    display: none;
  }
  a {
    color: var(--clr-dark-700);
    transition: 0.2s ease;
    &:hover {
      color: var(--clr-primary-700);
    }
  }
}

nav {
  @include flex();
  width: 100%;
  background: var(--clr-accent-700);
  .nav-wrapper {
    @include flex(space-between);
    width: clamp(300px, 100%, 525px);
  }
  .nav-option {
    padding: 10px 0;
    color: var(--clr-neutral-1000);
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 3px solid #ffffff00;
    &.selected {
      border-bottom: 3px solid var(--clr-primary-700);
    }
    &:hover {
      border-bottom: 3px solid var(--clr-primary-600);
    }
  }
}

.logo {
  gap: 10px;
  .logo-img {
    height: 83px;
    width: 83px;
  }
  .company-name {
    margin-bottom: 10px;
    img {
      height: 15px;
    }
  }
  .company-name-descr {
    font-family: "Century Gothic";
    font-weight: bold;
    text-transform: uppercase;
  }
}

.call-link,
.order-call {
  position: relative;
  &::before {
    content: "";
    transition: 0.2s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--clr-dark-700);
    transform: scaleX(0);
  }
  &:hover::before {
    transform: scaleX(1);
  }
  &:hover {
    color: var(--clr-dark-700);
  }
}

.order-call:hover {
  color: var(--clr-primary-700);
}

.order-call::before {
  background: var(--clr-primary-700);
}

.language {
  .language-option {
    cursor: pointer;
  }
}

@media screen and (max-width: 1140px) {
  .address {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  header .call.flex {
    display: none;
  }
  header .header-main-wrapper {
    padding: 10px 20px;
  }

  .logo {
    .logo-img {
      height: 60px;
      width: 60px;
    }
    .company-name {
      img {
        height: 14px;
      }
    }
    .company-name-descr {
      font-size: var(--fs-200);
    }
  }
}

@media screen and (max-width: 600px) {
  header .language {
    display: none;
  }
  .logo {
    .logo-img {
      height: 50px;
      width: 50px;
    }
    .company-name {
      img {
        height: 13px;
      }
    }
  }
  header {
    height: 65px;
    .header-main-wrapper {
      background: var(--clr-neutral-1000);
      border-color: #ffffff00;
    }
    transition: 0.2s ease;
  }
  header.open {
    height: 465px;
    .header-main-wrapper {
      background: var(--clr-neutral-900);
      border-color: var(--clr-primary-700);
    }
  }
  header .header-main-wrapper {
    padding: 5px;
  }
  header .hamburger {
    @include flex(space-between, flex-start, nowrap, column);
    margin-right: 30px;
    gap: 5px;
    span {
      height: 3px;
      width: 30px;
      background: var(--clr-accent-700);
      transition: 0.2s ease;
    }
    span:last-child {
      width: 20px;
    }
    &.open {
      span {
        background: var(--clr-primary-700);
      }
      span:first-child {
        transform: rotate(45deg) translateY(5px);
      }
      span:nth-child(2) {
        transform: rotate(-45deg) translateY(-6px);
      }
      span:last-child {
        transform: scaleX(0);
      }
    }
  }
  nav .nav-wrapper {
    flex-direction: column;
    padding: 80px 0;
    .nav-option {
      border: none;
      font-size: 18px;
      padding: 20px 0;
      font-weight: var(--fw-regular);
    }
  }
}

.button {
  padding: 16px 20px;
  background: var(--clr-primary-700);
  color: var(--clr-neutral-1000);
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: 0.2s ease;
  margin: 30px 0;
  &:hover {
    background: var(--clr-neutral-900);
    color: var(--clr-primary-700);
  }
}

.smallButton {
  padding: 10px 20px;
  background: var(--clr-primary-700);
  color: var(--clr-neutral-1000);
  font-family: var(--ff-secondary);
  font-size: var(--fs-200);
  transition: 0.2s ease;
  margin: 15px 0;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 3px;
  &:hover {
    background: var(--clr-neutral-900);
    color: var(--clr-primary-700);
    border-color: var(--clr-primary-700);
  }
}

.hero-part-after {
  .button {
    margin-top: 0;
    width: 100%;
    @include flex();
  }
}

.aboutUs {
  width: 100%;
  padding: 3.125rem 1.5rem 5rem 5rem;
  background: var(--clr-neutral-900);
}

.aboutUs-wrapper {
  position: relative;
  &::after {
    content: "";
    width: clamp(214px, 30vw, 495px);
    aspect-ratio: 1 / 1;
    position: absolute;
    right: -80px;
    top: 10%;
    background: url("/assets/images/logo.svg");
    background-position: center center;
    background-size: cover;
    opacity: 0.3;
  }
  .title {
    position: relative;
    padding-left: 0.625rem;
    margin-bottom: 2.5rem;
    &::before {
      content: "";
      position: absolute;
      left: -2px;
      top: calc(50% - 1px);
      transform: translateY(-50%);
      height: 50%;
      width: 5px;
      background: var(--clr-primary-700);
    }
  }
}

.statisticBlock {
  padding-right: 132px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 66px;
    top: 50px;
    height: 60%;
    width: 1px;
    background: var(--clr-dark-700);
  }
  &:last-child::after {
    display: none;
  }
  &:last-child {
    padding: 0;
  }
  .number {
    font-size: 5.625rem;
    color: var(--clr-primary-700);
    font-weight: var(--fw-bold);
  }
  .descr {
    position: relative;
    top: -1.875rem;
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
  }
}

.aboutUs-descr {
  max-width: 85ch;
  margin-top: 66px;
  font-size: 18px;
}

.profit {
  background: url("/assets/images/profit/profit.jpg");
  background-position: center center;
  background-size: cover;
  padding: 60px 30px;
  .title {
    margin-bottom: 2.5rem;
  }
}

.profit-row.flex {
  align-items: stretch;
  gap: 1.25rem;
}

.profit-block {
  max-width: 440px;
  padding: 1.25rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  .profit-title {
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
  }
  .profit-descr {
    font-size: var(--fs-200);
  }
}

.partners {
  gap: 40px;
  padding: 80px 0;
  .flex.wrap {
    gap: 1.875rem;
  }
  .partner {
    min-width: 175px;
    max-height: 80px;
    img {
      margin: 0;
      width: 100%;
      object-fit: contain;
    }
  }
}

.question {
  padding: 70px 20px;
  max-width: 1150px;
  .question-part {
    max-width: 730px;
    .title {
      margin-bottom: 30px;
    }
  }
  .fs-200 {
    margin-bottom: 40px;
  }
}

.question-flex.flex {
  justify-content: space-between;
  align-items: flex-start;
}

.kaspi {
  .title {
    margin-bottom: 25px;
  }
}

form {
  width: 100%;
  margin-top: 20px;
}

input,
textarea {
  width: 100%;
  font-family: var(--ff-secondary);
  border: none;
  outline: none;
  padding: 1.5rem;
  font-size: 18px;

  border: 1px solid rgba(109, 110, 118, 0.5);
  border-radius: 2px;
}

textarea {
  resize: none;
  height: 150px;
}

button {
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
}

.toStart {
  @include flex(flex-end);
  padding-bottom: 20px;
  .circle {
    transition: 0.2s ease;
    @include flex();
    width: 40px;
    height: 40px;
    background: var(--clr-primary-700);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-right: min(5rem, 3vw);
    cursor: pointer;
    path {
      transition: 0.2s ease;
    }
    &:hover {
      background: var(--clr-neutral-900);
      border-color: var(--clr-primary-700);
      path {
        fill: var(--clr-primary-700);
      }
    }
  }
}

.preFooter {
  width: 100%;
  padding: 20px 80px;
  background: var(--clr-neutral-900);
  img {
    height: 5.375rem;
  }
}

footer.flex {
  background: var(--clr-accent-700);
  color: var(--clr-neutral-1000);
  padding: 70px 135px 70px 80px;
  .footer-wrapper {
    justify-content: space-between;
    align-items: flex-start;
    width: clamp(300px, 100%, 900px);
    gap: 20px;
  }
  a {
    color: var(--clr-neutral-1000);
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    transition: 0.2s ease;
    &:hover {
      color: var(--clr-primary-700);
    }
  }
  img {
    height: 25px;
    &.tel {
      position: absolute;
      left: -30px;
      margin-top: 5px;
    }
  }
  .footer-mid {
    gap: 40px;
  }
}

.social {
  .flex.start {
    width: 100%;
    gap: 35px;
    img {
      height: 40px;
    }
  }
}

footer .links {
  a {
    font-weight: var(--fw-regular);
  }
}

@media screen and (max-width: 1033px) {
  .question-flex.flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 880px) {
  .statisticBlock {
    padding-right: 80px;
    &::after {
      top: 30px;
      right: 40px;
    }
    .number {
      font-size: 4rem;
    }
    .descr {
      font-size: 1rem;
      top: -1.5rem;
    }
  }
}

@media screen and (max-width: 800px) {
  main {
    margin-top: 128px;
  }
}

@media screen and (max-width: 770px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 654px) {
  footer .footer-wrapper .links {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  main {
    margin-top: 65px;
  }
}

@media screen and (max-width: 580px) {
  .statisticBlock {
    &::after {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
  .preFooter {
    padding: 1rem;
    img {
      height: 5rem;
    }
  }
  .mainPage.swiper .swiper-slide img.secondImage {
    position: relative;
    top: -105px;
    left: -537px;
    transform: scale(0.6);
  }
  .mainPage.swiper .swiper-slide img.thirdImage {
    position: relative;
    top: -105px;
    left: -100%;
    transform: scale(0.6);
  }
  .destroyOn500 {
    display: none;
  }
  .hero {
    height: 260px;
  }
  .mainPage.swiper {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
  .products-list {
    grid-template-columns: repeat(auto-fill, 175px);
  }
  .products {
    .title {
      font-size: 3.6rem;
    }
    .fs-500,
    a {
      font-size: 1.8rem;
    }
  }
  .aboutUs {
    padding: 5rem 2rem 5rem 2rem;
    .title {
      font-size: 3.6rem;
    }
  }
  .statisticBlock {
    padding-right: 5rem;
    .number {
      font-size: 6.4rem;
    }
    .descr {
      font-size: 1.6rem;
    }
  }
  button.button {
    font-size: 1.6rem;
  }
  footer.flex {
    padding: 3rem 0 4rem calc(7rem + 25px);
    .footer-wrapper {
      flex-direction: column !important;
      gap: 40px;
    }
    img.tel {
      left: -35px;
      margin: 0;
    }
    .footer-mid {
      margin-top: 20px;
    }
    a {
      font-size: 1.8rem;
      font-weight: var(--fw-regular);
    }
  }
}
